<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makerlab.protocol" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION "/>
    <application>
        <activity
            android:label="Scanning Bluetooth Devices"
            android:name="com.makerlab.ui.BluetoothDevListActivity">
        </activity>
    </application>
</manifest>
